Dataset: https://www.kaggle.com/hacker-news/hacker-news-posts/data#

Columns: ["id", "title", "url", "num_points", "num_comments", "author", "created_at"]

This data set is Hacker News posts from the last 12 months (up to September 26 2016).

It includes the following columns:

title: title of the post (self explanatory)

url: the url of the item being linked to

num_points: the number of upvotes the post received

num_comments: the number of comments the post received

author: the name of the account that made the post

created_at: the date and time the post was made (the time zone is Eastern Time in the US)

1. Start by adding a title and writing a paragraph in a markdown cell introducing the project and the data set. The title and the introduction are tentative at this point, so don't spend too much time here — you can come back at the end of your work to refine them.

2. Read the hacker_news.csv file in as a list of lists.

3. Assign the result to the variable hn.

4. Display the first five rows of hn.

In [26]:
import csv


hn = []

with open("hacker_news.csv", encoding = 'utf8') as hackernews:
    reader = csv.reader(hackernews)
    for row in reader:
        hn.append(row)

for i in range(5):
    print(hn[i])

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
['12579008', 'You have two days to comment if you want stem cells to be classified as your own', 'http://www.regulations.gov/document?D=FDA-2015-D-3719-0018', '1', '0', 'altstar', '9/26/2016 3:26']
['12579005', 'SQLAR  the SQLite Archiver', 'https://www.sqlite.org/sqlar/doc/trunk/README.md', '1', '0', 'blacksqr', '9/26/2016 3:24']
['12578997', 'What if we just printed a flatscreen television on the side of our boxes?', 'https://medium.com/vanmoof/our-secrets-out-f21c1f03fdc8#.ietxmez43', '1', '0', 'pavel_lishin', '9/26/2016 3:19']
['12578989', 'algorithmic music', 'http://cacm.acm.org/magazines/2011/7/109891-algorithmic-composition/fulltext', '1', '0', 'poindontcare', '9/26/2016 3:16']

5. Extract the first row of data, and assign it to the variable headers.
6. Remove the first row from hn.
7. Display headers.
8. Display the first five rows of hn to verify that you removed the header row properly.

In [27]:
headers = hn[0]

del hn[0]

print(headers)

for i in range(5):
    print(hn[i])

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']
['12579008', 'You have two days to comment if you want stem cells to be classified as your own', 'http://www.regulations.gov/document?D=FDA-2015-D-3719-0018', '1', '0', 'altstar', '9/26/2016 3:26']
['12579005', 'SQLAR  the SQLite Archiver', 'https://www.sqlite.org/sqlar/doc/trunk/README.md', '1', '0', 'blacksqr', '9/26/2016 3:24']
['12578997', 'What if we just printed a flatscreen television on the side of our boxes?', 'https://medium.com/vanmoof/our-secrets-out-f21c1f03fdc8#.ietxmez43', '1', '0', 'pavel_lishin', '9/26/2016 3:19']
['12578989', 'algorithmic music', 'http://cacm.acm.org/magazines/2011/7/109891-algorithmic-composition/fulltext', '1', '0', 'poindontcare', '9/26/2016 3:16']
['12578979', 'How the Data Vault Enables the Next-Gen Data Warehouse and Data Lake', 'https://www.talend.com/blog/2016/05/12/talend-and-Â\x93the-data-vaultÂ\x94', '1', '0', 'markgainor1', '9/26/2016 3:14']

9. Create three empty lists called ask_posts, show_posts, and other_posts.
10. Loop through each row in hn.
       Assign the title in each row to a variable named title.
        Because the title column is the second column, you'll need to get the element at index 1 in each row.
11. Implement the following steps:
        If the lowercase version of title starts with ask hn, append the row to ask_posts.
        Else if the lowercase version of title starts with show hn, append the row to show_posts.
        Else append to other_posts.
12. Check the number of posts in ask_posts, show_posts, and other_posts.

In [31]:
ask_posts = []
show_posts = []
other_posts = []

for row in hn:
    title = row[1]
    if title.startswith("Ask HN"):
        ask_posts.append(row)
    elif title.startswith("Show HN"):
        show_posts.append(row)
    else:
        other_posts.append(row)
        
print("The length of ask_posts is: ", len(ask_posts))
print("The length of show_posts is: ", len(show_posts))
print("The length of other_posts is: ", len(other_posts))

The length of ask_posts is:  9122
The length of show_posts is:  10150
The length of other_posts is:  273847

13. Find the total number of comments in ask posts and assign it to total_ask_comments.
    Set total_ask_comments to 0.
14. Use a for loop to iterate over the ask posts.
    Because the num_comments column is the fifth column in ask_posts, you'll need to get the element at index 4 in each row.
    You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
    Add this value to total_ask_comments.
15. Compute the average number of comments on ask posts and assign it to avg_ask_comments.
16. Print avg_ask_comments.
17. Find the total number of comments in show posts and assign it to total_show_comments.
    Set total_show_comments to 0.
18. Use a for loop to iterate over the show posts.
    Because the num_comments column is the fifth column in show_posts, you'll need to get the element at index 4 in each row.
    You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
    Add this value to total_show_comments.
19. Compute the average number of comments on show posts and assign it to avg_show_comments.
20. Print avg_show_comments.
21. Do show posts or ask posts receive more comments on average? Write a markdown cell explaining your findings.

In [34]:
total_ask_comments = 0

for row in ask_posts:
    total_ask_comments += int(row[4])
    
avg_ask_comments = total_ask_comments/len(ask_posts)
print(avg_ask_comments)

10.406709055031792

In [35]:
total_show_comments = 0

for row in show_posts:
    total_show_comments += int(row[4])
    
avg_show_comments = total_show_comments/len(show_posts)
print(avg_show_comments)

4.888374384236453

22. Import the datetime module as dt.
23. Create an empty list and assign it to result_list. This will be a list of lists.
24. Iterate over ask_posts and append to result_list a list with two elements:
    The first element shall be the column created_at.
    Because the created_at column is the seventh column in ask_posts, you'll need to get the element at index 6 in each row.
    The second element shall be the number of comments of the post.
    You'll also need to convert the value to an integer.
25. Create two empty dictionaries called counts_by_hour and comments_by_hour.
26. Loop through each row of result_list.
27. Extract the hour from the date, which is the first element of the row.
28. Use the datetime.strptime() method to parse the date and create a datetime object.
29. Use the string we want to parse as the first argument and a string that specifies the format as the second argument.
    Use the datetime.strftime() method to select just the hour from the datetime object.
    If the hour isn't a key in counts_by_hour:
    Create the key in counts_by_hour and set it equal to 1.
    Create the key in comments_by_hour and set it equal to the comment number.
    If the hour is already a key in counts_by_hour:
    Increment the value in counts_by_hour by 1.
    Increment the value in comments_by_hour by the comment number.

In [36]:
import datetime as dt
result_list = []

for row in ask_posts:
    result_list.append([row[6], int(row[4])])

print(result_list[:5])

[['9/26/2016 2:53', 7], ['9/26/2016 1:17', 3], ['9/25/2016 22:57', 0], ['9/25/2016 22:48', 3], ['9/25/2016 21:50', 2]]

In [48]:
counts_by_hours = {}
comments_by_hours = {}

for row in result_list:
    dt_object = dt.datetime.strptime(row[0], "%m/%d/%Y %H:%S")
    hr_object = dt.datetime.strftime(dt_object, "%H")
    if hr_object not in counts_by_hours:
        counts_by_hours[hr_object] = 1
        comments_by_hours[hr_object] = row[1]
    else:
        counts_by_hours[hr_object] += 1
        comments_by_hours[hr_object] += row[1]
        
print(counts_by_hours)
print(comments_by_hours)

{'02': 269, '01': 282, '22': 382, '21': 516, '19': 551, '17': 587, '15': 646, '14': 512, '13': 442, '11': 310, '10': 282, '09': 222, '07': 225, '03': 270, '23': 343, '20': 510, '16': 578, '08': 257, '00': 299, '18': 612, '12': 342, '04': 242, '06': 234, '05': 209}
{'02': 2996, '01': 2089, '22': 3369, '21': 4500, '19': 3954, '17': 5547, '15': 18525, '14': 4970, '13': 7227, '11': 2794, '10': 3013, '09': 1477, '07': 1584, '03': 2153, '23': 2297, '20': 4462, '16': 4461, '08': 2362, '00': 2265, '18': 4868, '12': 4234, '04': 2358, '06': 1587, '05': 1838}

30. Use the example above to calculate the average number of comments per post for posts created during each hour of the day.
31. The result should be a list of lists in which the first element is the hour and the second element is the average number of comments per post. Assign the result to a variable named avg_by_hour. Display the results.

In [51]:
avg_by_hour = []

for hour in counts_by_hours:
    avg_by_hour.append([hour, comments_by_hours[hour]/counts_by_hours[hour]])

for i in avg_by_hour:
    print(i)

['02', 11.137546468401487]
['01', 7.407801418439717]
['22', 8.819371727748692]
['21', 8.720930232558139]
['19', 7.176043557168784]
['17', 9.449744463373083]
['15', 28.676470588235293]
['14', 9.70703125]
['13', 16.350678733031675]
['11', 9.012903225806452]
['10', 10.684397163120567]
['09', 6.653153153153153]
['07', 7.04]
['03', 7.974074074074074]
['23', 6.696793002915452]
['20', 8.749019607843136]
['16', 7.717993079584775]
['08', 9.190661478599221]
['00', 7.575250836120401]
['18', 7.954248366013072]
['12', 12.380116959064328]
['04', 9.743801652892563]
['06', 6.782051282051282]
['05', 8.794258373205741]

32. Create a list that equals avg_by_hour with swapped columns.
    Create an empty list and assign it to swap_avg_by_hour.
    Iterate over the rows of avg_by_hour and append to swap_avg_by_hour a list whose first element is the second element of the row, and whose second element is the first element of the row.
33. Print swap_avg_by_hour.
34. Use the sorted() function to sort swap_avg_by_hour in descending order. Since the first column of this list is the average number of comments, sorting the list will sort by the average number of comments.
    Set the reverse argument to True, so that the highest value in the first column appears first in the list.
    Assign the result to sorted_swap.
35. Print the string "Top 5 Hours for Ask Posts Comments".
36. Loop through each average and each hour (in this order) in the first five lists of sorted_swap.
37. Use the str.format() method to print the hour and average in the following format: 15:00: 38.59 average comments per post.
    To format the hours, use the datetime.strptime() constructor to return a datetime object and then use the strftime() method to specify the format of the time.
    To format the average, you can use {:.2f} to indicate that just two decimal places should be used.
38. Which hours should you create a post during to have a higher chance of receiving comments? Refer back to the documentation for the data set to convert the times to the time zone you live in. Write a markdown cell explaining your findings.

In [54]:
swap_avg_by_hour = []
for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
for row in swap_avg_by_hour:
    print(row)

[11.137546468401487, '02']
[7.407801418439717, '01']
[8.819371727748692, '22']
[8.720930232558139, '21']
[7.176043557168784, '19']
[9.449744463373083, '17']
[28.676470588235293, '15']
[9.70703125, '14']
[16.350678733031675, '13']
[9.012903225806452, '11']
[10.684397163120567, '10']
[6.653153153153153, '09']
[7.04, '07']
[7.974074074074074, '03']
[6.696793002915452, '23']
[8.749019607843136, '20']
[7.717993079584775, '16']
[9.190661478599221, '08']
[7.575250836120401, '00']
[7.954248366013072, '18']
[12.380116959064328, '12']
[9.743801652892563, '04']
[6.782051282051282, '06']
[8.794258373205741, '05']

In [76]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)
print("Top 5 Hours for Ask Posts Comments")
for i in range(5):
    dt_obj = dt.datetime.strptime(sorted_swap[i][1], "%H")
    time_obj = dt.datetime.strftime(dt_obj, "%H:%M:")
    avg = sorted_swap[i][0]
    my_string = "{} {:.2f} average comments per post".format(time_obj, avg)
    print(my_string)

Top 5 Hours for Ask Posts Comments
15:00: 28.68 average comments per post
13:00: 16.35 average comments per post
12:00: 12.38 average comments per post
02:00: 11.14 average comments per post
10:00: 10.68 average comments per post